* {
	margin: 0;
	padding: 0;
}

header h1 {
	padding:20px;
	border-bottom:1px solid gray;
}
#start {
	
}
nav ol {
	border-right:1px solid gray;
	width:100px;
	height:500px;
	list-style:none;
	padding: 20px;
}
nav ol a{
	float: right;
}
#table {
	height: 150px;
}
td{
	padding:5px;
	min-width:40px;
}
thead{
	font-weight:bold;
}
table{
	text-align:center;
}
.wrapper {
	display: flex;
}
#table-wrapper{
	padding: 40px;
}

button {
	padding: 3px;
	border: none;
	background-color: #29b6f6;
	color: white;
	border-radius: 4px;
	width: 76px;
	height: auto;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}
button:hover{
	transform: scale(0.9);
}